#head-block-content-outer,
#head-block-content-inner,
#head-block-content {
  height: auto;
}
#head-block-content {
  background: transparent url(images/head-block-content-gradient-bg.png) 0 12px repeat-x;
}
