#page-wrapper {
  padding: 20px 0 0 0;
}
#content-wrapper {
  padding: 50px 0 0 0;
  background: #fff url(images/header-bg.png) top left repeat-x;
}
#right-wrapper {
  margin: -40px 0 0 0px;
}
#right-upper {
  margin: -1px 0 0 0;
}
#head-block-content-outer,
#head-block-content-inner,
#head-block-content {
  height: 1px;
}
#head-block-content {
  background-position: 0 -5px;
}
