
/* BEGIN CSS RESET: v1.0 | 20080212 http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
  vertical-align: top;
  padding: 0.5em;
}

/* END CSS RESET */


/* BEGIN CLEARFIX */
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  display:inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
  display:block;
}
/* End hide from IE Mac */

/* END CLEARFIX */

/* BEGIN ADMIN STYLES */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
}
fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1.5em 1.5em; /* LTR */
}

dl dt {
  margin: 0 0 0 0;
  font-size: 1.1em;
  font-weight: 700;
}

dl dd {
  margin: 0 0 1.5em 0.3em; /* LTR */
  padding: 0em 0 0 0.7em;
  border-left: 1px solid #ccc;
}
.localtasks {
  border-left: 1px solid #ccc;
  margin-bottom: 1em;
}
.block ul,
.block ul li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.block ul li ul {
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
}
ul.tabs.primary,
ul.tabs.secondary {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul.tabs.primary {
  font-size: 1.1em;
}
ul.tabs.secondary {
  font-size: 0.9em;
}
ul.tabs.primary li,
ul.tabs.secondary li {
  display: list-item;
  float: left;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-right: 1px solid #ccc;
}
ul.tabs.primary li a,
ul.tabs.secondary li a {
  display: block;
  background: #fff;
  padding: 3px 10px 3px 10px;
  margin: 0 0 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #fff;
}
ul.tabs.secondary li a {
  padding: 2px 8px 2px 8px;
}
ul.tabs.primary li.active a,
ul.tabs.primary li a:hover,
ul.tabs.secondary li.active a,
ul.tabs.secondary li a:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  background: #fff;
  border-bottom: 3px solid #990000;
}
.messages {
  border: 1px solid #333 !important;
  background: #f0f0f0 !important;
  padding: 5px !important;
  margin: 5px 0 5px 0 !important;
}
.messages.status {
  color: #4ec700;
}
.messages.error {
  color: #aa0000;
}
.messages.warning {
  color: #008888;
}
input.error {
  border: 2px solid #cc0000 !important;
  color: #aa0000;
}
/* END ADMIN STYLES */

/* BEGIN SITEWIDE LAYOUT STYLES */
body {
  background: #e0e0e0 url(images/body.png) top left repeat;
}
#page-wrapper {
}
#header-upper {
  min-height: 50px;
  background: #fff url(images/header-bg.png) top left repeat-x;
}
#header-wrapper {
}
#header {
}
#left-column {
  float: left;
  margin: 0 0 0 20px;
}
#content-wrapper {
  width: 1000px;
  margin: 0 auto 0 auto;
  background: #fff url(images/content-bg.png) top left repeat;
}
#content-column {
}
#right-wrapper {
  float: left;
  margin: -40px 0 0 20px;
}

/** BEGIN WIDTHS TO BE OVERRIDDEN BY THEME FUNCTIONS **/
#header-wrapper,
#left-column {
  width: 610px;
}
#right-wrapper {
  width: 340px;
}
#head-block-top-center,
#head-block-bottom-center {
  width: 318px;
}
/** END WIDTHS TO BE OVERRIDDEN BY THEME FUNCTIONS **/

#head-block-wrapper {
  background: #fff url(images/head-block-content-bg.png) top left repeat;
}

/** Header block top row **/
#head-block-top-left,
#head-block-top-center,
#head-block-top-right {
  float: left;
  height: 20px;
  display: block;
}
#head-block-top-left {
  background: #fff url(images/head-block-top-left.png) top left repeat;
  width: 11px;
}
#head-block-top-center {
  background: #fff url(images/head-block-top-center.png) top left repeat;
}
#head-block-top-right {
  background: #fff url(images/head-block-top-right.png) top left repeat;
  width: 11px;
}

#head-block-content-outer {
  padding: 0 0 0 11px; 
  background: transparent url(images/head-block-content-outer.png) top left repeat-y;
}
#head-block-content-inner {
  padding: 0 11px 0 0;
  background: transparent url(images/head-block-content-inner.png) top right repeat-y;
}
#head-block-content {
  padding: 0 5px 0 5px;
  background: transparent url(images/head-block-content-gradient-bg.png) 0 12px repeat-x;
}

/** Header block bottom row **/
#head-block-bottom-left,
#head-block-bottom-center,
#head-block-bottom-right {
  float: left;
  height: 20px;
  display: block;
}
#head-block-bottom-left {
  background: #fff url(images/head-block-bottom-left.png) top left repeat;
  width: 11px;
}
#head-block-bottom-center {
  background: #fff url(images/head-block-bottom-center.png) top left repeat;
}
#head-block-bottom-right {
  background: #fff url(images/head-block-bottom-right.png) top left repeat;
  width: 11px;
}

#right-sidebar {
  margin: 10px 0 0 10px;
  padding: 0 15px 0 0;
}
#footer-wrapper {
  clear: left;
  padding: 10px;
}
#search {
  margin: 1em 0 0 0;
}
.block {
  margin: 0 0 0 0;
}
/* END SITEWIDE LAYOUT STYLES */

/* BEGIN SITEWIDE CONTENT STYLES */
body {
  font-family: "Helvetica Neue", "Helvetica", "Tahoma", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0.5em 0 0.5em 0;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #000;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
a, a:link, a:visited, a:hover, a.active {
  color: #cc3f00;
  text-decoration: none;
}
p {
  margin-bottom: 1em;
}
.submitted {
  display: block;
  color: #999;
  font-size: 0.9em;
  margin: 0 0 1em 0;
}
#content-column .content ul li {
  border-left: 1px solid #ccc;
  margin: 0 0 1.5em 0.5em;
  padding: 0 0 0 0.5em;
}
/* END SITEWIDE CONTENT STYLES */

/* BEGIN SPECIFIC CONTENT STYLES */
#site-logo {
  float: left;
}
#site-name {
  text-shadow: 0.1em 0.1em 0.1em #c0c0c0;
  float: left;
  margin: 20px 0 0 0.3em;
  font-size: 2em;
  font-weight: 700;
}
/* END SPECIFIC CONTENT STYLES */

/* BEGIN MENU STYLES */
ul.menu li {
  list-style-type: none;
  list-style-image: none;
  padding: 0 0 0 15px;
}
ul.menu li.leaf {
  background: transparent url(images/li_leaf.png) 0 0.4em no-repeat;
}
ul.menu li.collapsed {
  background: transparent url(images/li_collapsed.png) 0 0.3em no-repeat;
}
ul.menu li.expanded {
  background: transparent url(images/li_expanded.png) 0 0.3em no-repeat;
}
#head-block-wrapper ul.menu li {
  padding: 0 0 0 0;
}
#head-block-wrapper ul.menu li.leaf {
  background-image: none;
}
#head-block-wrapper ul.menu li.collapsed {
  background-image: none;
}
#head-block-wrapper ul.menu li.expanded {
  background-image: none;
}
ul.links.inline {
  clear: left;
}
ul.links.primary-links {
  margin-top: 1em;
}
ul.links.primary-links li {
  display: block;
  list-style-type: none;
  background-image: none;
  font-weight: 700;
  margin: 0 0 0.4em 0;
  padding: 0 0 0 0;
}
/* END MENU STYLES */
